<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<Product Name='grate' Manufacturer='erikbra' Id='E281998A-D8A2-4926-AAA3-066EFA4B2E74' UpgradeCode='%%%UPGRADECODE%%%' Language='1033' Codepage='1252' Version='%%%VERSION%%%'>
		<Package Id='*' Keywords='Installer' Description="grate installer" Comments='grate - the SQL scripts migration runner' Manufacturer='erikbra' InstallerVersion='310' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
		<Media Id='1' Cabinet='grate.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
		<Property Id='DiskPrompt' Value="grate Installation [1]" />

		<Directory Id='TARGETDIR' Name='SourceDir'>

			<Directory Id='ProgramFilesFolder' Name='PFiles'>
				<Directory Id='erikbra' Name='erikbra'>
					<Directory Id='INSTALLDIR' Name='grate'>
						<Component Id='MainExecutable' Guid='ED167D39-AF0F-4209-AA73-2A65021D583D'>
							<File Id='grateEXE' Name='grate.exe' DiskId='1' Source='%%%GRATEEXE%%%' KeyPath='yes'>
							</File>
						</Component>
					</Directory>
				</Directory>
			</Directory>

			<Component Id='PathVariable' Guid='5BA459B5-F15D-45E5-8DE8-0034BC37C694'>
				<Environment Id='UpdatePath' Name='PATH' Action='set' Permanent='yes' System='yes' Part='last' Value='[INSTALLDIR]' />
			</Component>
		</Directory>

		<Feature Id='Complete' Level='1'>
			<ComponentRef Id='MainExecutable' />
			<ComponentRef Id='PathVariable' />
		</Feature>
	</Product>

</Wix>