# Heavyweight build and test
name: Build and Publish

on:
  push:
    branches:
      - main
    paths-ignore:
      - docs/
  workflow_dispatch:
  
jobs:
  set-version-number:
    name: Set version number
    runs-on: ubuntu-latest
    outputs:
      #version: ${{ steps.gitversion.outputs.nuGetVersionV2 }}
      version: "0.0.0.9"
      #is-release: ${{ steps.gitversion.outputs.CommitsSinceVersionSource == 0 }}
      is-release: 'true'
    
    steps:
    - name: Setup .NET 5
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Setup .NET 6
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        include-prerelease: true
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.10
      with:
        versionSpec: '5.x'
    - name: Determine Version
      id: gitversion
      uses: gittools/actions/gitversion/execute@v0.9.10

  build-netcore-tool:
    needs: set-version-number
    name: Build .NET Core (global) tool

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        include-prerelease: true
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      #run: dotnet pack ./grate/grate.csproj -c release -p:PackAsTool=true -p:PackageOutputPath=/tmp/grate/nupkg
      run: dotnet pack ./grate/grate.csproj -p:Version="${{ needs.set-version-number.outputs.version }}" -p:PackAsTool=true -p:PackageOutputPath=/tmp/grate/nupkg
      
    - name: Upload published tool artifact
      uses: actions/upload-artifact@v2
      if: ${{ needs.set-version-number.outputs.is-release == 'true' }}
      with:
        name: grate-dotnet-tool-${{ needs.set-version-number.outputs.version }}
        path: /tmp/grate/nupkg/*   
    # - name: Push to Nuget.org
    #   if: ${{ needs.set-version-number.outputs.is-release == 'true' }}
    #   run: dotnet nuget push /tmp/grate/nupkg/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{secrets.NUGET_ORG_KEY}} --skip-duplicate

  build-standalone:
    name: Build
    needs: set-version-number

    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [ "win-x64", "win-x86", "win-arm", "win-arm64", 
                "alpine-x64", "linux-x64", "linux-arm", "linux-arm64",
                 "osx-x64"
              ]

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        include-prerelease: true

    - name: Publish self-contained ${{ matrix.arch }}
      run: dotnet publish ./grate/grate.csproj -r ${{ matrix.arch }} -c release --self-contained -p:SelfContained=true -p:Version="${{ needs.set-version-number.outputs.version }}" -o ./publish/${{ matrix.arch }}/self-contained

    - name: Publish .NET 6 dependent ${{ matrix.arch }}
      run: dotnet publish ./grate/grate.csproj -r ${{ matrix.arch }} -c release --no-self-contained -p:Version="${{ needs.set-version-number.outputs.version }}" -o ./publish/${{ matrix.arch }}/dependent

    - name: Upload self-contained ${{ matrix.arch }}
      if: ${{ needs.set-version-number.outputs.is-release == 'true' }}
      uses: actions/upload-artifact@v2
      with:
        name: grate-${{ matrix.arch }}-self-contained-${{ needs.set-version-number.outputs.version }}
        path: ./publish/${{ matrix.arch }}/self-contained/*
    
    - name: Upload .net dependent ${{ matrix.arch }}
      if: ${{ needs.set-version-number.outputs.is-release == 'true' }}
      uses: actions/upload-artifact@v2
      with:
        name: grate-${{ matrix.arch }}-framework-dependent-${{ needs.set-version-number.outputs.version }}
        path: ./publish/${{ matrix.arch }}/dependent/*
  
  build-msi:
    name: Build MSI
    needs: 
     - set-version-number
     - build-standalone
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [ "win-x64" ]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v2
      with:
        name: grate-${{ matrix.arch }}-self-contained-${{ needs.set-version-number.outputs.version }}
        path: ${{ matrix.arch }}/
        
    # - name: Display structure of downloaded files
    #   run: ls -R

    - name: Create msi
      if: ${{ needs.set-version-number.outputs.is-release == 'true' }}
      run: ./installers/msi/Create-Msi.ps1 -grateExe ./${{ matrix.arch }}/grate.exe -Version "${{ needs.set-version-number.outputs.version }}"

    - name: Upload MSI ${{ matrix.arch }}
      if: ${{ needs.set-version-number.outputs.is-release == 'true' }}
      uses: actions/upload-artifact@v2
      with:
        name: grate-msi-${{ matrix.arch }}-${{ needs.set-version-number.outputs.version }}
        path: ./installers/msi/tmp/*.msi

  test:
    name: Run tests

    runs-on: ubuntu-latest
    strategy:
      matrix:
        category: [ "Basic", "SqlServer", "PostgreSQL", "MariaDB" ]

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        include-prerelease: true
    - name: Test
      run: dotnet test --filter Category=${{ matrix.category }} -c Release --logger:"junit;LogFilePath=test-results-${{ matrix.category }}.xml"
#      run:  dotnet test --verbosity Normal -c Release --logger "trx;LogFileName=/tmp/test-results/grate.unittests.trx"
      
    - name: Upload Unit Test Results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: Unit Test Results (${{ matrix.category }})
        path: grate.unittests/test-results-${{ matrix.category }}.xml

