name: Build and run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
#  build:
#    name: Build
#
#    runs-on: ubuntu-latest
#
#    steps:
#    - uses: actions/checkout@v2
#    - name: Setup .NET
#      uses: actions/setup-dotnet@v1
#      with:
#        dotnet-version: 6.0.x
#        include-prerelease: true
#    - name: Restore dependencies
#      run: dotnet restore
#    - name: Build
#      run: dotnet build --no-restore

  publish:
    name: Publish 

    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [ "win-x64", "alpine-x64", "linux-x64", "osx.11.0-x64", "osx-x64" ]

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        include-prerelease: true

    - name: Publish ${{ matrix.arch }}
      run: dotnet publish ./grate/grate.csproj -r ${{ matrix.arch }} -c release --self-contained -o ./publish/${{ matrix.arch }}
    - name: Upload published ${{ matrix.arch }}
      uses: actions/upload-artifact@v2
      with:
        name: grate-${{ matrix.arch }}
        path: ./publish/${{ matrix.arch }}/*
        

  test:
    name: Run tests

    runs-on: ubuntu-latest
    strategy:
      matrix:
#        category: [ "Basic", "SqlServer", "PostgreSQL", "MariaDB" ]
        category: [ "Basic" ]

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        include-prerelease: true
    - name: Test
      run: dotnet test --filter Category=${{ matrix.category }} -c Release --logger:"junit;LogFilePath=test-results-${{ matrix.category }}.xml"
#      run:  dotnet test --verbosity Normal -c Release --logger "trx;LogFileName=/tmp/test-results/grate.unittests.trx"
      
    - name: Upload Unit Test Results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: Unit Test Results (${{ matrix.category }})
        path: grate.unittests/test-results-${{ matrix.category }}.xml

#  publish-test-results:
#    name: "Publish Unit Tests Results"
#    needs: test
#    runs-on: ubuntu-latest
#    # the build-and-test job might be skipped, we don't need to run this job then
#    if: success() || failure()
#
#    steps:
#      - name: Download Artifacts
#        uses: actions/download-artifact@v2
#        with:
#          path: artifacts
#
#      - name: Publish Unit Test Results
#        uses: EnricoMi/publish-unit-test-result-action@v1
#        with:
#          files: artifacts/**/*.xml
