name: 'Create Test Reports'
on:
  workflow_run:
    workflows: ['CI']                     # runs after CI workflow
    types:
      - completed
  workflow_dispatch:

jobs:
  report:
     runs-on: ubuntu-latest
     name: Create test report

     steps:
      - uses: dorny/test-reporter@v1
        with:
          artifact: /test-results(?:-?)(.*)/           # artifact name - allows for both one big 'test-results', and several 'test-results-SqlServer', 'test-results-Sqlite', etc
          name: Test report $1                     # Name of the check run which will be created
          path: '*.xml'                                            # Path to test results (inside artifact .zip)
          reporter: dotnet-trx                                     # Format of test results     

